<div class="about-section text-center">
    <h1>About Us</h1>
      <p class="blockText suez-font">We're a group of people who are wildly passionate about changing the way Warcraft 3 content is shared. We believe 
      content creation is a vital aspect that has kept this community alive for 18 years. We exist to share 
      creativity. Our platform empowers the Warcraft 3 community to share custom games and engage 
      other community members.</p>
</div>
<div class="row align-content-center justify-content-center">
  <div class="column warcraft-border creatorBox" >
    <div class="card text-center">
      <img src="../../../assets/eddy-linkedIn-pic.jpg" class="logo mx-auto mt-4 " alt="Edd" style="width:10%">
      <div class="container">
        <h3>Eddy Estrada</h3>
        <p class="title">Web Developer & Founder</p>
        <p>Dedicated to learning new technologies and making the best work possible using my software development skills learned from the Bay Valley 
          Tech Code Academy. I’m always excited to come up with a plan to make something, whether it be websites or programs.
           I also enjoy learning new techniques and strategies from my peers and mentors to develop good work skills and increase my knowledge.</p>
        <p><a href="mailto:eddydaniel94@gmail.com">Email</a> • <a href="https://www.linkedin.com/in/eddy-estrada-68080416a/">Linkedin</a> • <a href="https://github.com/bertman12">Github</a></p>
      </div>
    </div>
  </div>
  <div class="column warcraft-border creatorBox" >
    <div class="card text-center">
      <img src="../../../assets/frankie.jpeg" class="logo mx-auto mt-4" alt="Frankie">
      <div class="container">
        <h3>Frankie Avina</h3>
        <p class="title">Web Developer </p>
        <p>Frankie Avina is a web developer whom enjoys being challenged and engaging with projects that require him to work outside 
          his comfort zone, as continuing to learn new languages and development techniques are valuable. He loves his dog Rocky,
          who stares at him all day asking him for another walk. If you are interested in hiring him (me) below is his contact info. 
        </p>
        <p> <a href="mailto:frankieavina@gmail.com">Email</a> • <a href="www.linkedin.com/in/frankieavina">Linkedin</a> • <a href="github.com/frankieavina">Github</a></p>
      </div>
    </div>
  </div>
</div>