
<!-- <div class="container-fluid media-feature-container">
    <div class="row">
        <div class="col ">
            <div class="bottom-fade" ></div>
            
            <video class = "gameplay-video " height="100%" appPlayVideo loop #localVideo>
                <source src="../../assets/myVid.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</div> -->

<div class="bottom-fade" ></div>      
<video class = "gameplay-video " height="100%" appPlayVideo loop #localVideo>
    <source src="../../assets/myVid.mp4" type="video/mp4">
</video>