<div id="top" class="warcraft-border m-4" >
  <nav class="navbar navbar-expand-lg navbarContainer ">
    <div class="container-fluid">
        <!------------------------------- Left Side Of Navbar ---------------------------------->
        <div class="navbar-header">
          <a class="navbar-brand" href="">
            <img class="logo" alt="Brand" src="../../assets/WARCRAFT 3-logo-rounded-v3.png"><img src="../../assets/warcraftlegends.png" style="width: 200px; margin-left: 10px;">
          </a>
        </div>
        <!----------------------------------- Middle Of Navbar ---------------------------------->
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLink="" routerLinkActive="active">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" 
            routerLink="" routerLinkActive="active"
            fragment="featured">Featured Games</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/game-reviews-list" routerLinkActive="active">Game Reviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
        <!--------------------------------- Right Side Of Navbar -------------------------------->
        <!-- <ul *ngIf="currentUser; else showLoginRegister" class="navbar-nav ml-auto"> -->
        <div *ngIf="!userExist; else showLoginRegister">
          <button mat-icon-button type="button" 
          class="btn navbar-btn navbar-right signInButton align-content-center"
          (click)="onSignIn()">
            <mat-icon class="iconUser">account_circle</mat-icon> <span>Sign In</span>
          </button>
        </div>
        <!-- Authentication Links -->
        <ng-template #showLoginRegister>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <mat-icon class="iconUser" aria-hidden="false" aria-label="Example home icon">account_circle</mat-icon> 
                <span>{{currentUser.name}}</span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item dropdownMenu " 
                  (click)=onLogOut() 
                  routerLink="" routerLinkActive="active">
                    Logout</a>
                </li>
              </ul>
            </div>
        </ng-template>
    </div>
  </nav>
</div>

