<div class="container-fluid">
    <div class="row">
        <div class="col-12 header">
            <h1 class="suez-font header-text">REVIEWS</h1>
        </div>
        <div class="review-items-container">
            <div class="col-12 review-item">
                <app-game-reviews-list-item></app-game-reviews-list-item>
            </div>
        </div>
    </div>
</div>


<!-- <div class = "review-items-group">
    <div class="col-3 review-item">
        <div>
            <app-game-reviews-list-item appExpandOptions></app-game-reviews-list-item>
        </div>
    </div>
</div> -->
  <!--  
      <div class = "review-items-group">
            <div class="col-3 review-item" 
            (mouseenter)="onHover = true;" (mouseleave)="onHover = false;">
            <div>
                <app-game-reviews-list-item appExpandOptions></app-game-reviews-list-item>
                </div>
            </div>
            <div *ngIf="onHover">
                <p class ="hoverMenu">asfafw</p>
            </div>
        </div> 
    -->