.header{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding:0px;
}
.header-text{
    display: flex;
    justify-content: center;
    background-color: rgba(54, 54, 54, 0.75);
    border: 3px rgb(95, 95, 95) ridge;
    border-radius: 10px;
    width:35%;
    margin-top: 10px;
}
.review-items-container{
    display: flex;
    flex-flow: wrap;
}
.review-item{
    margin-top: 10px;
    margin-bottom: 10px;
}

