 <!-- Login Form -->
  <div class="container">
    <div class="row justify-content-center mt-5 ">
      <div class="col-md-8 col-sm-6">
          <div *ngIf='displayError' class="alert alert-dismissible alert-warning text-center">
            <button type="button" class="btn-close" data-bs-dismiss="alert" (click)="clearAlert()"></button>
            <h4 class="alert-heading">Login Failed</h4>
            <p class="mb-0">Your email or password is incorrect. Please try again.</p>
          </div>
        <div class="warcraft-border">
        <div class="card text-white text-center" style="width: 100%; background-color: #f3440f;">
          <div class="card-header justify-content-center align-content-center">
            <h5>Login</h5>
          </div>
          <div class="card-body">
                <div class="card-title" style="margin: 20px">
                    <div><img class="logo" src="../../assets/WARCRAFT 3 - Copy.png"></div>
                    <div style="padding: 5px;"><h4>Warcraft Legends</h4></div>
                </div>
                <form>
                <div class="mb-4">
                    <label for="username" class="form-label" >Email </label>
                    <input type="text" class="form-control" id="username" [(ngModel)]="userEmail" name="email">
                </div>
                <div class="mb-4">
                    <label for="password" class="form-label" >Password</label>
                    <input type="password" class="form-control" id="password" [(ngModel)]="userPassword" name="password">
                </div>
                <div class="mb-4">
                    <a><label for="remember" class="form-label">Forgot Password?</label></a>
                </div>
                <div>
                    <button type="button" class="btn loginBtn" (click)="onLogin()" >Login</button>
                </div>
                <div>
                    <button type="button" class="btn signUpBtn" (click)="onSignUp()"> Sign Up </button>
                </div>
                </form>
            </div>
        </div>
      </div>
      </div>
    </div>
  </div>