 <!-- Login Form -->
 <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-8 col-sm-6">
        <div class="card text-white text-center bg-primary mb-3" style="width: 100%;">
          <div class="card-header justify-content-center align-content-center">
            <h2>Login</h2>
          </div>
          <div class="card-body">
            <div class="card-title"></div>
            <form>
              <div class="mb-4">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" />
              </div>
              <div class="mb-4">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" />
              </div>
              <div class="mb-4">
                <input type="checkbox" class="form-check-input" id="remember" />
                <label for="remember" class="form-label">Remember Me</label>
              </div>
              <div>
                <button type="button" class="btn btn-secondary">Login</button>
                <a>horn</a>
              </div>
              <div>
                  <button type="button" class="btn btn-dark"> Sign Up </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>