 <!-- Login Form -->
  <div class="container">
    <div class="row justify-content-center mt-5 ">
      <div class="col-md-8 col-sm-6">
          <div *ngIf='displayError' class="alert alert-dismissible alert-warning text-center">
            <button type="button" class="btn-close" data-bs-dismiss="alert" (click)="clearAlert()"></button>
            <h5 class="alert-heading">Login Failed</h5>
            <p class="mb-0">Your email or password is incorrect. Please try again.</p>
          </div>
        <div class="warcraft-border">
        <div class="card text-white text-center" style="width: 100%;">
          <div class="card-header justify-content-center align-content-center" style="background-color: #1f1f1f;">
            <h5>
              <!-- <span class="loginText">Log In</span> -->
              <img src="../../assets/loginfont.png" style=" width: 70px; ">
            </h5>
          </div>
          <div class="card-body" style="background-color: #333;">
                <div class="card-title" style="margin: 20px">
                    <div><img class="logo" src="../../assets/WARCRAFT 3-logo-rounded-v3.png"></div>
                    <div style="padding: 5px;"><img class="websiteName" src="../../assets/warcraftlegends.png"></div>
                </div>
                <form>
                <div class="mb-4">
                    <label for="username" class="form-label" >Email: </label>
                    <input type="text" class="form-control" id="username" [(ngModel)]="userEmail" name="email">
                </div>
                <div class="mb-4">
                    <label for="password" class="form-label" >Password:</label>
                    <input type="password" class="form-control" id="password" [(ngModel)]="userPassword" name="password">
                </div>
                <div class="mb-4">
                    <a class="linktoForgot" href=" ">Forgot your password?</a>
                </div>
                <div>
                    <!-- <button type="button" class="btn loginBtn" (click)="onLogin()" >Login</button> -->
                    <input type="image" src="../../assets/loginButton.png" class="imageButton" id="saveForm" (click)="onLogin()"/>
                </div>
                <div>
                  <!-- <button type="button" class="btn signUpBtn" (click)="onSignUp()"> Sign Up </button> -->
                  <input type="image" src="../../assets/signupButton.png" class="imageButton" id="saveForm" (click)="onSignUp()"/>
                </div>
                </form>
            </div>
        </div>
      </div>
      </div>
    </div>
  </div>