<!-- Modal -->
  <div (hidden.bs.modal)="onModalClose()" class="modal fade" id="gameEditModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog d-flex justify-content-center">
      <div class="modal-content  form-modal">
        <div class="modal-header">
          <h4 class="modal-title" id="staticBackdropLabel">{{ this.gameService.isEditing ? 'Edit Game Info' : 'Add Game Info'}}</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <form [formGroup]="gameForm" (ngSubmit)="onSubmit('submitting')">
                <div style="display: flex; justify-content: space-between;">
                  <div class="" style="margin-bottom: 5px;display:flex; flex-direction: column;">
                    <label>Title: </label><input type="text" formControlName="title">
                    <label>Author: </label><input type="text" formControlName="author">
                  </div>
                  <div style="display: flex;flex-direction: column;justify-content: center;">
                    <label>Description: </label>
                    <textarea class="description-area" type="text" rows="6" cols="50"
                    formControlName="description" ></textarea>
                  </div>
                </div>
                  <hr>
                  <h5>Gameplay Features</h5>
                  <div *ngFor="let feature of featureImages.controls; let index = index"class="game-features">
                    <div formArrayName="featureImages" style="display: flex;flex-direction: column;justify-content: space-between;margin-top: 5px">
                      <div>
                        <div class="form-input">
                          <label style="margin-bottom:5px;">Feature Image:</label>
                          <input type="file" id="feautureImageInput" (change)="onImageUpload($event,'featureImageUpload', index)" #featureImageUpload>
                          <!-- <label for="feautureImageInput" style="padding:5px;cursor:pointer;background:#2a9fd6;color:white;border-radius: 10px;">Choose an Image...</label> -->
                        </div>
                        <div style="margin: 10px 0px 5px 0px">
                          <button class="btn btn-danger" (click)="removeFeature(index)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div formArrayName="featureDescriptions">
                      <div style="display: flex;flex-direction: column;margin: 5px;">
                        <label>Description:</label><textarea class="description-area" type="text" rows="3" cols="35"
                        [formControlName]="index"></textarea>
                      </div>
                    </div>
                  </div>
                  <button class="btn btn-warning" type="button" (click)="addFeature()">Add a Feature image and description.</button>
                  <hr>
                  <!-- <div class="col-12 d-flex form-inputs-format">
                    <label>Genre: <input type="text" formControlName="genre" ></label>
                    <label>Version: <input type="number" formControlName="version" ></label>
                  </div> -->
                  <div style="display: flex;margin: 15px 15px 15px 0px">
                    <div formGroupName="publishDate" style="outline: 3px ridge rgb(131, 131, 131);padding:15px;">
                      <div class="form-input">
                        <strong>Version Date</strong><label>Month: </label><input type="text" formControlName="month">
                      </div>
                      <div class="form-input">
                        <label>Day: </label><input type="number" formControlName="day">
                      </div>
                      <div class="form-input">
                        <label>Year: </label><input type="number" formControlName="year" >
                      </div>
                    </div>
                    <div style="margin-left: 20px;outline: 3px ridge rgb(131, 131, 131);padding:15px;">
                      <div class="form-input">
                        <br><label>Genre: </label><input type="text" formControlName="genre" >
                      </div>
                      <div class="form-input">
                        <label>Version: </label><input type="number" formControlName="version" >
                      </div>
                      <div class="form-input">
                        <label>Rating: </label><input type="number" formControlName="rating" >
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="form-input" style="margin-bottom:10px;">
                      <label>Gameplay Footage: </label>
                      <ik-upload id="videoUpload" fileName="video" [useUniqueFileName]="false" [isPrivateFile]="false" (onSuccess)="handleUploadSuccess($event, 'videoUpload')" (onError)="handleUploadError($event)" #videoUpload></ik-upload>
                    </div>
                    <div class="form-input">
                      <!-- <p>Current Image: {{selectedGame ? selectedGame.imgSrc : '' }}</p> <br> -->
                      <label>Preview Image: </label>
                      <ik-upload fileName="previewimage1" [isPrivateFile]="false" (onSuccess)="handleUploadSuccess($event, 'previewImageUpload')" (onError)="handleUploadError($event)"></ik-upload>
                    </div>
                  </div>
                  <br>
                  <button style="margin-right: 10px;" class="btn btn-primary" type="submit" [disabled]="!gameForm.valid" data-bs-dismiss="modal">Submit</button>
                  <button type="button" class="btn btn-danger" (click)="onClearForm()">Clear</button>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
