.form-modal{
    width:fit-content;
}
.description-area{
    resize: none;
}
.game-features{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border: 1px ridge white;
    border-radius: 15px;
    padding: 5px;
}
.form-inputs-format{
    display: flex;
    justify-content: space-between;
}


.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; 
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; 
}

.alert div {
  background-color: #fed3d3;
  color: #820000;
  padding: 1rem;
  margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 1rem;
  }
  
label {
    display: block;
    margin-bottom: .5rem;
  }
  
select {
    width: 100%;
    padding: .5rem;
  }

/* .img-upload input[type="file" i]{
    border: black 30px ridge;
    border-radius: 50%;
    background: goldenrod;
  } */