<!-- Modal -->
  <div class="modal fade" id="gameEditModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Enter Game Info</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="gameForm" (ngSubmit)="onSubmit()">
                <input type="text" formControlName="title" placeholder="Title">
                <input type="text" formControlName="author" placeholder="Author">
                <input type="text" formControlName="description" placeholder="Description">
                <input type="text" formControlName="featureDescriptions" placeholder="Feature Descriptions">
                <input type="text" formControlName="featureImages" placeholder="Feature Image Sources">
                <input type="text" formControlName="genre" placeholder="Genre">
                <input type="text" formControlName="version" placeholder="Version">
                <div formGroupName="publishDate">
                    <input type="text" formControlName="month" placeholder="Month">
                    <input type="number" formControlName="day" placeholder="Day">
                    <input type="number" formControlName="year" placeholder="Year">
                </div>
                <input type="text" formControlName="videoSrc" placeholder="Video Source">
                <input type="text" formControlName="imgSrc" placeholder="Preview Image Source">
                <br>
                <button class="btn btn-primary" type="submit" [disabled]="!gameForm.valid" data-bs-dismiss="modal">Submit</button>
                <button type="button" class="btn btn-danger" (click)="onClearForm()">Clear</button>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  