<div class="container-fluid">
    <div class="row">
        <div class="col-12 footerStyle" >
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <div class="col-12">
                <a class="footerContent" href="" style="text-decoration: none;">
                    <img class="logo" alt="Brand" src="../../../assets/WARCRAFT 3-logo-rounded-v3.png">              
                    <span class="mt-2" style=" margin-left: 5px; "> Warcraft Legends © 2021 </span>
                </a>
            </div>
        </div>
    </div>
</div>
