<div class="container-fluid home-component">
    <div class="row header-row">
        <div class="col-5 header-column">     
          <h1 class = "custom-font2 font-effect-fire">Warcraft 3 Reviews</h1>
          <img class = "warcraft-border" src="../../assets/WARCRAFT 3 - Copy.png" alt="site logo" height = 250px width = 250px>
          <h4>Welcome to a website all about showcasing and reviewing some of the popular warcraft 3 custom games made by the community. If you have any custom games you'd like to see reviewed on here, send me an email.</h4>
        </div>
        <div class="col d-flex justify-content-center ">
          <div class="card h-75 ">
            <div class="card-body warcraft-border">
              <h4 class="card-title custom-font2 ">FEATURED CONTENT</h4>
            </div>
          </div>
        </div>
    </div>

    <!-- FEATURED CONTENT add class based on iteration of games array to allow staggering of video -->
    <div class="row featured-content-row">
      <div *ngFor="let game of localGameArr; let index = index" 
      class="col-12 review-feature-container-left"
      [ngClass]="{'review-feature-container-left': index%2 === 0 }"
      [ngClass]="{'review-feature-container-right': index%2 === 1 }"
      >
        <div class="video-wrapper">
          <app-media-feature [game]="game"></app-media-feature>
        </div>
        <div class="game-description">
          <strong>{{ game.title }}</strong>
          <p>{{ game.description }}</p>
        </div>
      </div>
</div>
