.header-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    height: 100%;
    min-height: 600px;
}
.header-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    padding: 10px;
}
.custom-font1{
    font-family: "Sofia", sans-serif;
}

.custom-font2{
    font-family: 'Suez One', serif;
}

.logo-img{
    border: 5px solid white;
}

/* .feature-container{
    /* border: 10px solid white;
    height: 200px; 
} */