.header-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    height: 100%;
    min-height: 600px;
}
.header-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    padding: 10px;
}
.custom-font1{
    font-family: "Sofia", sans-serif;
}

.custom-font2{
    font-family: 'Suez One', serif;
}
.featured-content-row{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.video-wrapper{
    width: 40%;
    /* max-height: 300px; */
}
.review-feature-container-left{
    display:flex;
    justify-content: space-between;
}
.review-feature-container-right{
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.game-description{
    width: 50%;
    margin-left: 30px;
}