<div class="container-fluid">
    <div class="row header-row">
        <div class="col d-flex justify-content-center">
            <h1 class="suez-font">{{ game?.title ?? ''}}</h1>
        </div>
        <div class="col d-flex justify-content-center">
            <div class="video-wrapper warcraft-border">
                <app-media-feature [game] = "game" [showTitle] = "false"></app-media-feature>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-12 game-description-wrapper">
            <p class="game-description">{{ game?.description ?? '' }}<br>
                  Date created: {{ game?.publishDate?.year ?? ''}}<br>
                    Genre: {{ game?.genre ?? ''}}<br>
                     Version: {{ game?.version ?? ''}} <br>
                    Rating: {{ game?.rating ?? ''}}/5</p>
        </div>
        <hr>
        <div class="col-10 gameplay-features">
            <h3 class="suez-font d-flex justify-content-center">GAMEPLAY FEATURES</h3>
            <!-- FEATURE ITEM DIV BELONGS IN ITS OWN COMPONENT -->
            <div class="feature-item" *ngFor="let x of game.featureDescriptions;let index = index">
                <!-- This src path needs to come from the media component otherwise the path will be different with respect to this components directory -->
                <img class="feature-img"src="../../assets/Warcraft-III-generic-image-half-size.png" alt="img" height="200px">
                <p>{{ game.featureDescriptions[index] }}</p>
            </div>
            <hr>
            <button class="btn-primary btn"><h1 class ="suez-font"><strong>DOWNLOAD</strong></h1></button>
        </div>
    </div>
</div>
