.add-game-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-button{
    transition: transform 0.25s;
}
.add-button:hover{
    transform: scale(1.1);
}
.add-game-wrapper button{
    width: 3ch;
    height: 3ch;
    font-size: 5ch;
    background-color: #00000033;
    
}
.item-wrapper{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 15px;
    padding:10px;
    padding-right: 5px;
}
.interface{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
}
.rating{
    display: flex;
    align-items: flex-end;
    margin: 5px;
    color: goldenrod;
}
.admin-options{
    margin: 5px;
    margin-left:0px;
    margin-right:15px;
    opacity: 0;
    transition: 0.5s opacity ease-in-out;
}
.item-wrapper:hover .admin-options{
    opacity: 1;
}
