<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-6">
            <div class="card text-white text-center bg-primary mb-5" style="width: 100%;">
                <div class="card-header justify-content-center align-content-center">
                    <h5>Registration</h5>
                </div>
                <div class="card-body" style="margin: 20px">
                    <form>
                        <fieldset>
                          <div class="form-group">
                            <label class="form-label mt-1">Email address</label>
                            <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                          </div>
                          <div class="form-group">
                            <label class="form-label mt-3">Password</label>
                            <input type="password" class="form-control" placeholder="Password">
                          </div>
                          <div class="form-group">
                            <label  class="form-label mt-4">Username</label>
                            <input type="text" class="form-control" placeholder="Username">
                          </div>
                          <div class="form-group">
                            <label  class="form-label mt-4">Age</label>
                            <input type="number" class="form-control" placeholder="Age">
                          </div>
                          <div class="form-group">
                            <label  class="form-label mt-4">Location</label>
                            <input type="number" class="form-control" id="exampleInputPassword1" maxlength="4" size="4" placeholder="Zip Code">
                            <small id="emailHelp" class="form-text text-muted">Zip Code (Example: 95351)</small>
                          </div>
                        </fieldset>
                        <div class="text-start">
                            <p><a class="linktoLogin"  (click)="onBack()"> <span style="color: white;">Back to Login</span></a></p>
                        </div>
                        <div class="mt-3">
                            <button type="button" class="btn btn-dark" > Register </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>