  /* mouse over link */
  .linktoLogin:hover {
    background-color:transparent ;
    color: white;
    cursor: pointer;
  }

  .linktoLogin{
    color: #ffd823; 
  }

  h5{
    color: #ffd823;;
  }

  .imageButton{
    width: 200px;
  }

  .imageButton:hover{
    filter: brightness(150%);
}

  label{
    color:#d9d3c3 ;
  }

  small{
    color: #8c8c8c;
  }